* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    background-color: lightgray;
    color: #333;
    min-height: calc(100vh + 70px);
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    height: 60px;
    background-color: #333;
}

.menu .logo {
    width: 200px;
    border: 1px solid #fff;
}

.menu ul {
    display: flex;
    list-style: none;
}
.menu a {
    display: inline-block;
    color: #fff;
    margin: 0 5px;
    transition: all .3s;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}
footer  p {
    margin: 5px 0;
}

.social {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}